.dropdown-list{
    right:7px; 
    top:5px
   }
   .dropdown-icon{
   cursor: pointer
   }
   .upload-img-size{
    height:200px;
    width:200px
   }
   .img-type{
     margin-bottom: 0 !important;
   }
   
   #media-list{
     margin-top: 60px;
   }
   .add-files-btn{
     position: absolute;
     right: 25px;
     top: 20px
   }
  